/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

 html,
 body {
   height: 100%;
   justify-content: space-between;
   font-family: "Roboto", sans-serif;
   display:flex;
   flex-direction: column;
 }
 
 /* Você pode usar o CSS comentado abaixo, se ajudar */
 /* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 
 .appbar{ 
   display:flex;
   background-color: #f7d736;
   padding: 0.5% 0.5%;
   box-shadow: 0 1px 20px 0 rgb(90, 90, 90);
   align-items: center;
 }
 
 .note-quantity{
  color: blue;
 }

 .logo{
   width: 5%;
   height:auto;
 }
 
 .subtitle{
   padding:1%;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
 }
 
 .container{
   height: 100%;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }
 
 .form-card{
   width: 30%;
   display:flex;
   flex-direction: column;
   padding: 0.5% 0.5%;
   border-radius: 7px;
   align-content: space-between;
   box-shadow: 0 10px 20px 0 rgb(90, 90, 90);
 }
 
 .form-card-title{
   border: none;
   font-family: 'Roboto', sans-serif;
   font-size: x-large;
   padding: 10px;
 }
 
 .autoresize{
   border: none;
   font-family: 'Roboto', sans-serif;
   font-size: medium;
   padding: 10px;
   resize: none;
 }
 
 .btn {
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   position: relative;
   display: block;
   padding: 10px 15px;
 
   overflow: hidden;
 
   border-width: 0;
   outline: none;
   border-radius: 2px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
 
   background-color: #f7d736;
 
   transition: background-color 0.3s;
 }
 
 .btn > * {
   position: relative;
 }
 
 .btn:before {
   content: "";
 
   position: absolute;
   top: 50%;
   left: 50%;
 
   display: block;
   width: 0;
   padding-top: 0;
 
   border-radius: 100%;
 
   background-color: rgba(236, 240, 241, 0.3);
 
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }
 
 .btn:active:before {
   width: 120%;
   padding-top: 120%;
 
   transition: width 0.2s ease-out, padding-top 0.2s ease-out;
 }
 
 .card-container{
   display: flex;
   height: 50vh;
   padding: 0 5%;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }


 .card{
   height: 15vh;
   width: 12vw;
   display:flex;
   flex-direction: column;
   padding: 0.5% 0.5%;
   border-radius: 7px;
   align-content: stretch;
   box-shadow: 0 10px 20px 0 rgb(90, 90, 90);
 }
 
 .card-title{
   font-family: 'Permanent Marker', cursive;
   font-size: x-large;
 }
 
 .card-content{
   font-family: 'Permanent Marker', cursive;
   font-size: large;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   color: #4c4c4c
 }
 
 .card-color-1{
   background-color: #ead3a7;
 }
 
 .card-color-2{
   background-color: #9de0f5;
 }
 
 .card-color-3{
   background-color: #ef89ba;
 }
 
 .card-color-4{
   background-color: #fae890;
 }
 
 .card-color-5{
   background-color: #abe9c1;
 }
 
 .card-rotation-1{
   transform: rotate(-5deg);
 }
 
 .card-rotation-2{
   transform: rotate(-4deg);
 }
 
 .card-rotation-3{
   transform: rotate(-3deg);
 }
 
 .card-rotation-4{
   transform: rotate(-2deg);
 }
 
 .card-rotation-5{
   transform: rotate(-1deg);
 }
 
 .card-rotation-6{
   transform: rotate(0deg);
 }
 
 .card-rotation-7{
   transform: rotate(1deg);
 }
 
 .card-rotation-8{
   transform: rotate(2deg);
 }
 
 .card-rotation-9{
   transform: rotate(3deg);
 }
 
 .card-rotation-10{
   transform: rotate(4deg);
 }
 
 .card-rotation-11{
   transform: rotate(5deg);
 }
