<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get-it</title>
</head>
<body>
    <img src="aula1-get_it/img/logo-getit.png">
    <p>Como o Post-it, mas com outro verbo</p>
  
    <form method="post">
      <label for="titulo">Título</label>
      <input id="titulo" type="text" name="titulo" />
      <label for="detalhes">Detalhes</label>
      <input id="detalhes" name="detalhes" />
      <input type="submit" />
    </form>

    <ul>
      <li>
        <h3>Receita de miojo</h3>
        <p>Bata com um martelo antes de abrir o pacote. Misture o tempero, coloque em uma vasilha e aproveite seu snack :)</p>
      </li>
      <li>
        <h3>Pão doce</h3>
        <p>Abra o pão e coloque o seu suco em pó favorito.</p>
      </li>
      <li>
        <h3>Sorvete com cristais de leite</h3>
        <p>Sirva o seu sorvete favorito em uma vasilha e jogue leite em cima.</p>
      </li>
      <li>
        <h3>Iogurte natural</h3>
        <p>Deixe o leite fora da geladeira (esse é mentira, não faça isso).</p>
      </li>
      <li>
        <h3>Homer Simpson</h3>
        <p>~( 8(|)</p>
      </li>
      <li>
        <h3>Numero mágico</h3>
        <p>142857</p>
      </li>
      <li>
        <h3>Série da Fundação - Isaac Asimov</h3>
        <p>É boa, leia.</p>
      </li>
    </ul>
    
    </body>
    </html>